* {
    background-color: #0F1D24;
    color: white;
}

.logocontainer {
    width: 50vw;
    height: 100vh;
}

.company-name {
    font-size: 48px;
}

.company-tagline {
    font-size: 24px;
}

.marginscreen {
    margin-left: 10%;
}

.logo-image {
    margin-top: 20%;
}
