<div class="signin">
  <div class="signincont">
    <div class="signinside">
      <p class="text-main">Insert your current Holdings</p>
      <table class="table-main">
        <thead class="table-header">
          <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Current Stock Rate</th>
            <th>Total Value</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div class="add-stock">
        <div class="add-stock-button">
          <button
            class="addstockbtn"
            id="addstockbtn"
            title="Add Stock"
            (click)="openAddStockPopup()"
          >
            Add Stock
          </button>
        </div>
        <div class="total-value">
          <p class="total-value-text">Total Value -</p>
        </div>
      </div>
      <div class="Confirm-stock">
        <div class="Confirm-stock-button">
          <button
            class="Confirmstockbtn"
            id="Confirmstockbtn"
            title="Confirm Stock"
          >
            Confirm >
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
