.email-id-input {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    height: 25px;
}

input {
    width: 88%;

    height: 24px;
}

.password-input {

    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.head-sign {
    font-size: 36px;
    text-align: center;
    margin-top: 10%;
}

.signinside {
    height: 75vh;
    margin: 10%;
    border: 3px solid white;
}

.signincont {
    width: 50vw;
}

.buttontext {
    background: none;
    border: 5px solid white;
    color: white;
    border-radius: 10px;
}

.textsignin {
    font-size: 20px;
    width: 90%;
    height: 40px;
}

.input-fields {
    margin-left: 10%;
}

.create-account {
    font-size: 13px;
}