<div class="signin">
  <div class="signincont">
    <div class="signinside">
      <p class="head-sign">Sign In</p>
      <div class="input-fields">
        <label class="textsignin" for="email">Email-ID</label>
        <div class="email-id-input">
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter your email"
          />
        </div>

        <label class="textsignin" for="password">Password</label>
        <div class="password-input">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter your password"
          />
        </div>
        <p class="create-account">
          Don't have an account? <a href="/signup">Sign Up</a>
        </p>
        <button
          class="textsignin buttontext"
          type="button"
          (click)="onSubmit()"
        >
          Sign In
        </button>
      </div>
    </div>
  </div>
</div>
